<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    
    <add name="connectionSampleA"
         connectionString="Server=localhost,1433;Database=SampleA;User Id=sa;Password=sa;"
         providerName="System.Data.SqlClient" />

    <add name="connectionSampleB"
         connectionString="Server=localhost,1433;Database=SampleB;User Id=sa;Password=sa;"
         providerName="System.Data.SqlClient" />
    
  </connectionStrings>
</configuration>